body {
  background-color:LightBlue;
  font-family: "Comic Sans MS";
}
img {
  height:200px;
  width:500px;
}
span {
    font-weight:bold;
}
#s1 {
    color:red;
}
#s2 {
    color:orange;
}
#s3 {
    color:yellow;
}
#s4 {
    color:green
}
#s5 {
    color:blue
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    font-family: "Comic Sans MS";
    font-size:20px;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #111;
}

